aiogram==3.0.0b2
aiofiles==0.8.0  # Совместимая версия для aiogram
pydantic==1.9.0  # Совместимая версия для aiogram
aiohttp==3.7.4.post0  # Совместимая версия
charset-normalizer==2.0.0  # Совместимая версия для aiohttp